<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Blogging Sites
        </title>
        <meta name="author" content="Damanvir Singh">
        <link rel="stylesheet" href="/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div id="pageCtn">
                
            <header id="mainHeader">
                <div class="topHeader">
                    <div class="fixedWidth">
                        <div class="headsWrap">
                            <div class="topHeaderWrapper clearfix">
                                <div class="leftSection">
                                </div>
                                <div class="rightSection">
                                    <ul class="extraNav">
                                        <!--<li><a ><i class="fa fa-search" aria-hidden="true">
                                            <form method="get" action="/search">
                                                <input type="text" name="search" placeholder="enter text"/>
                                            </form>
                                        </i></a>--></li>
                                        <% if( typeof(someAttribute) !== 'undefined' ) { %>
                                            <li><a id="namePerson" href="/enter"><%=someAttribute%></a>
                                                <ul class="submenu">
                                                    <li><a href="/enter">Create a Blog</a></li>
                                                    <li><a href="/profile">Edit Your Profile</a></li>
                                                    <li><a href="/blog/<%= userId %>">Your Stories</a></li>
                                                </ul>
                                            </li>
                                            <li style="display:none"><%=userId%></li>
                                            <li><a href="logout">Logout</a></li>
                                        <%}else{%>
                                        <li><a href="GettingStarted/#SigningIn" class="signin">Sign in</a></li>
                                        <li class="signUpPage"><a href="GettingStarted">Get Started</a></li>
                                        <%}%>
                                    </ul>
                                </div>                                

                                <div class="logoCtn" style="text-align:center">
                                        <a href="/"><h1 style="height:35px; width:100px;margin:0 auto;"><img src="/assets/images/logo.png" style="width:100%;height:35px;"></h1></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navCtn">
                    <div class="fixedWidth">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/topic/technology">Technology</a></li>
                                <li><a href="/topic/creativity">Creativity</a></li>
                                <li><a href="/topic/entrepreneurship">Entrepreneurship</a></li>
                                <li><a href="/topic/stories">Real Stories</a></li>
                                <li><a href="/topic/design">Digital Design</a></li>                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </header><!-- ********* Header *********** -->

            <main>
                <div id="introArticles">
                    <div class="introArticleWrapper clearfix">
                        <div class="leftSection">
                            <div class="firstTop">

                            </div>
                            <div class="firstBottom">
                                    
                            </div>
                        </div>
                        <div class="leftSection">
                            <div class="secondTop">

                            </div>
                            <div class="secondBottom">
                                    
                            </div>
                        </div>
                        <div class="leftSection">
                            <div class="thirdTop">

                            </div>
                            <div class="thirdBottom">
                                    
                            </div>
                        </div>
                        <div class="leftSection">
                            <div class="fullArticleSec">

                            </div>
                        </div>
                    </div>
                </div>
                <div id="popularArticles">
                   <div class="fixedWidth">
                        <div class="popularArticlesWrapper">
                            <header class="clearfix">
                                    <h2>Popular on Websites</h2>
                                    <div class="viewMore">                            
                                    </div>
                            </header>
                            <div class="ArticlesWrapperCtn clearfix">
                                <div class="leftSection Arti1Grp">     
                                    <div class="popularArti1 clearfix">
                                        <div class="leftSection">

                                        </div>
                                        <div class="rightSection">
                                            <div class="rightSecSupport">
                                                <h3>The 4 red flags I missed as the Startup imploaded around me</h3>
                                                <p>
                                                    It began in a coffee shop interview and ended in a high-speed motorcycle chase. Come with me if you want your 
                                                </p>
                                                <div class="AuthorInfo clearfix">
                                                    <div class="leftSection authorImage">
                                                        <div class="authorImageCtn">
                                                            <img src="/assets/images/mountain1.jpg">
                                                        </div>
                                                    </div>
                                                    <div class="leftSection authorName">
                                                        <p><a href="#">by Damanvir Singh</a></p>
                                                        <p>Nov 1</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="leftSection Arti2Grp">                            
                                    <div class="popularArti2 clearfix">
                                        <div class="leftSection">

                                        </div>
                                        <div class="rightSection">
                                            <div class="rightSecSupport">
                                                <h3>The 4 red flags I missed as the Startup imploaded around me</h3>
                                                <p>
                                                    It began in a coffee shop interview and ended in a high-speed motorcycle chase. Come with me if you want your 
                                                </p>
                                                <div class="AuthorInfo clearfix">
                                                    <div class="leftSection authorImage">
                                                        <div class="authorImageCtn">
                                                            <img src="/assets/images/mountain1.jpg">
                                                        </div>
                                                    </div>
                                                    <div class="leftSection authorName">
                                                        <p><a href="#">by Damanvir Singh</a></p>
                                                        <p>Nov 1</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="leftSection Arti1Grp">                            
                                    <div class="popularArti3 clearfix">
                                        <div class="leftSection">

                                        </div>
                                        <div class="rightSection">
                                            <div class="rightSecSupport">
                                                <h3>The 4 red flags I missed as the Startup imploaded around me</h3>
                                                <p>
                                                    It began in a coffee shop interview and ended in a high-speed motorcycle chase. Come with me if you want your 
                                                </p>
                                                <div class="AuthorInfo clearfix">
                                                    <div class="leftSection authorImage">
                                                        <div class="authorImageCtn">
                                                            <img src="/assets/images/mountain1.jpg">
                                                        </div>
                                                    </div>
                                                    <div class="leftSection authorName">
                                                        <p><a href="#">by Damanvir Singh</a></p>
                                                        <p>Nov 1</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                </div>
                                <div class="leftSection Arti2Grp">                            
                                    <div class="popularArti4 clearfix">
                                        <div class="leftSection">

                                        </div>
                                        <div class="rightSection">
                                            <div class="rightSecSupport">
                                                <h3>The 4 red flags I missed as the Startup imploaded around me</h3>
                                                <p>
                                                    It began in a coffee shop interview and ended in a high-speed motorcycle chase. Come with me if you want your 
                                                </p>
                                                <div class="AuthorInfo clearfix">
                                                    <div class="leftSection authorImage">
                                                        <div class="authorImageCtn">
                                                            <img src="/assets/images/mountain1.jpg">
                                                        </div>
                                                    </div>
                                                    <div class="leftSection authorName">
                                                        <p><a href="#">by Damanvir Singh</a></p>
                                                        <p>Nov 1</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                   </div>                   
                </div><!-- ********* Popular Articles ********** -->

                <div id="technologyArticles">
                    <div class="ArticlesBanner">      
                        <div class="placeholder">
                            <img src="assets/images/city1-l.jpg">
                        </div>                  
                    </div>

                    <div class="fixedWidth">
                        <div class="ArticleSpotWrapper">
                            <div class="specificArticlesWrapper">
                                <h2>Technology</h2>
                                <div class="articleCtnBox">
                                    
                                </div>
                                <div class="technologyWrapper clearfix">
                                    <div class="leftSection">
                                        <div class="techWrap1">

                                        </div>
                                    </div>
                                    <div class="rightSection clearfix">
                                        <div class="leftSection">
                                            <div class="techWrap2">

                                            </div>
                                        </div>
                                        <div class="leftSection">
                                            <div class="techWrap3">
                                                
                                            </div>
                                        </div>
                                        <div class="leftSection">
                                            <div class="techWrap4">
                                                
                                            </div>
                                        </div>
                                        <div class="leftSection">
                                            <div class="techWrap5">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- ********* Technology Articles ********** -->

                <div id="CreativityArticles">
                    <div class="ArticlesBanner">                        
                            <div class="placeholder">
                                    <img src="assets/images/mountain15.jpg">
                            </div>
                    </div>

                    <div class="fixedWidth">
                        <div class="ArticleSpotWrapper">
                            <div class="specificArticlesWrapper">
                                <h2>Creativity</h2>
                                <div class="articleCtnBox">
        
                                </div>
                                <div class="CreativityWrapper clearfix">
                                    
                                    <div class="leftSection">
                                        <div class="sectionImageWrap">

                                        </div>
                                        <div class="sectionContentWrap">
                                            <div class="sectionTopContent">

                                            </div>
                                            <div class="SectionAuthorContent">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="leftSection">
                                        <div class="sectionImageWrap">

                                        </div>
                                        <div class="sectionContentWrap">
                                            <div class="sectionTopContent">

                                            </div>
                                            <div class="SectionAuthorContent">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="leftSection">
                                        <div class="sectionImageWrap">

                                        </div>
                                        <div class="sectionContentWrap">
                                            <div class="sectionTopContent">

                                            </div>
                                            <div class="SectionAuthorContent">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="leftSection">
                                        <div class="sectionImageWrap">

                                        </div>
                                        <div class="sectionContentWrap">
                                            <div class="sectionTopContent">

                                            </div>
                                            <div class="SectionAuthorContent">

                                            </div>
                                        </div>    
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- ********* Creativity Articles ********** -->

                <div id="MoreBlogs">
                    <div class="fixedWidth">
                        <div class="moreBlogsWrapper clearfix">
                            <div class="leftSection">
                                <h2>Latest in Blog</h2>
                                <div class="moreBloggerCtn">
                                    <div class="latestBlogLink">
                                        <div class="leftSection">
                                            <img src="/assets/images/mountain8.jpg" alt="">
                                        </div>
                                        <div class="rightSection">
                                            <div class=topicHeadCtn>
                                                <span class="TopicHead">Technology</span>
                                            </div>
                                            <h3>Topic Name</h3>
                                            <div class="createByBlog">
                                                <p><span>By</span> Damanvir Singh</p>
                                            </div>
                                            <p class="blogsSectionContent">
                                                This is blog written by me and learning by you.                                     
                                            </p>
                                        </div>
                                    </div>
                                    <div class="latestBlogLink">
                                        <div class="leftSection">
                                            <img src="/assets/images/mountain12.jpg" alt="">
                                        </div>
                                        <div class="rightSection">
                                            <div class=topicHeadCtn>
                                                <span class="TopicHead">Technology</span>
                                            </div>
                                            <h3>Topic Name</h3>
                                            <div class="createByBlog">
                                                <p><span>By</span> Damanvir Singh</p>
                                            </div>
                                            <p class="blogsSectionContent">
                                                    This is blog written by me and learning by you.                                     
                                            </p>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            <div class="rightSection">
                                <div class="realStoryWrapper">
                                    <h3>Real People Stories</h3>
                                    <div class="realStoryWrap">
                                        <div class="rlStArticleCtn clearfix">
                                            <div class="leftSection">
                                                <img src="/assets/images/mountain5.jpg" alt="">
                                            </div>
                                            <div class="rightSection">
                                                <h4 class="tpHead4">Artificial Intelligence Learns to Learn Entirely on Its Own</h4>
                                                <div class="createByBlog">
                                                        <p><span>By</span> Damanvir Singh</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rlStArticleCtn clearfix">
                                            <div class="leftSection">
                                                    <img src="/assets/images/mountain9.jpg" alt="">
                                            </div>
                                            <div class="rightSection">
                                                <h4 class="tpHead4">Artificial Intelligence Learns to Learn Entirely on Its Own</h4>
                                                <div class="createByBlog">
                                                        <p><span>By</span> Damanvir Singh</p>
                                                </div>
                                            </div>
                                        </div>                                        
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- ********* Latest Blog and Stories********** -->

                <div id="getConnect">
                    <div class="fixedWidth">
                        <div class="getConnectCtn clearfix">
                            <div class="leftSection">
                                <h2>Interesting ideas that set your mind in motion.</h2>
                                <p>Hear directly from the people who know it best. From tech to politics to creativity and more — whatever your interest, we’ve got you covered.
                                        Get startedLearn more
                                </p>
                                <div class="getConnectBtn">
                                    <button type="button" class="btnT1">Get Started</button>
                                    <button type="button" class="btnT2">Learn More</button>
                                </div>
                            </div>
                            <div class="rightSection">

                            </div>
                        </div>
                    </div>
                </div><!-- ********* Get Connect ********** -->
            </main>    
            
            <footer id="mainFooter">
                <div class="fixedWidth">
                    <div class="footsWrap">
                        <div class="footerWrapper clearfix">
                            <div class="leftSection">
                                <ul>
                                    <li>All rights reserved.</li>
                                    <li><a href="#">Terms</a></li>
                                    <li><a href="#">About</a></li>
                                </ul>
                            </div>
                            <div class="rightSection">
                                <ul>
                                    <li><a href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.youtube.com"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.plus.google.com"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="centerLogo">logo</div>
                        </div>
                    </div>
                </div>
            </footer><!-- ********* Footer ********** -->
            
        </div>
    </body>
</html>