<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            Hey Bloggers
        </title>
        <meta name="author" content="Damanvir Singh, Avdhesh Datta">
        <link rel="stylesheet" href="/assets/css/font-awesome.css">
        <link rel="stylesheet" href="/assets/css/styles.css">
    </head>
    <body>
        <div id="pageCtn">
                
            <header id="mainHeader">
                <div class="topHeader">
                    <div class="fixedWidth">
                        <div class="headsWrap">
                            <div class="topHeaderWrapper clearfix">
                                <div class="leftSection">
                                </div>
                                <div class="rightSection">
                                    <ul class="extraNav">                        
                                        <% if( typeof(someAttribute) !== 'undefined' ) { %>
                                            <li><a id="namePerson" href="/enter"><%=someAttribute%></a>
                                                <ul class="submenu">
                                                    <li><a href="/enter">Create a Blog</a></li>
                                                    <li><a href="/profile">Edit Your Profile</a></li>
                                                    <li><a href="/blog/<%= userId %>">Your Stories</a></li>
                                                </ul>
                                            </li>
                                            <li style="display:none"><%=userId%></li>
                                            <li><a href="logout">Logout</a></li>
                                        <%}else{%>
                                        <li><a href="GettingStarted/#SigningIn" class="signin">Sign in</a></li>
                                        <li class="signUpPage"><a href="GettingStarted">Get Started</a></li>
                                        <%}%>
                                    </ul>
                                </div>                                

                                <div class="logoCtn" style="text-align:center">
                                        <a href="/"><h1 style="height:35px; width:100px;margin:0 auto;"><img src="/assets/images/logo.png" style="width:100%;height:35px;"></h1></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navCtn">
                    <div class="fixedWidth">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/topic/technology">Technology</a></li>
                                <li><a href="/topic/creativity">Creativity</a></li>
                                <li><a href="/topic/entrepreneurship">Entrepreneurship</a></li>
                                <li><a href="/topic/stories">Real Stories</a></li>
                                <li><a href="/topic/design">Digital Design</a></li>                                
                            </ul>
                        </nav>
                    </div>
                </div>
            </header><!-- ********* Header *********** -->

            <main>
                <div id="introArticles">                                                                 
                    <div id="introArticles">
                        <div class="infoWrap" style="background:rgba(1,1,1,.7);height:100%;width:100%;z-index:1;position:absolute;" >
                            <div class="fixedWidth">
                                <div class="introCo">
                                    <h1>WelCome to</h1>
                                    <div class="introImageWrap">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="introArticleWrapper clearfix">
                            <div class="leftSection">
                                <div class="firstTop" style="padding:5px">
                                    <a href="#">
                                        <div class="introArtCt">
                                        </div>
                                    </a>
                                </div>
                                <div class="firstBottom">
                                        
                                </div>
                            </div>
                            <div class="leftSection">
                                <div class="secondTop">
    
                                </div>
                                <div class="secondBottom">
                                
                                </div>
                            </div>
                            <div class="leftSection">
                                <div class="thirdTop">
    
                                </div>
                                <div class="thirdBottom">
                                        
                                </div>
                            </div>
                            <div class="leftSection">
                                <div class="fullArticleSec">
    
                                </div>
                            </div>
                        
                        </div>
                    </div>                    
                </div>

                
                <div id="getConnect" style="background:#f9f9f9;border-bottom:1px solid rgba(150,150,150,.1);">
                    <div class="fixedWidth">
                        <div class="getConnectCtn clearfix">
                            <div class="leftSection">
                                <h2>Interesting ideas that set your mind in motion.</h2>
                                <p>Hear directly from the people who know it best. From tech to politics to creativity and more — whatever your interest, we’ve got you covered.
                                        Get startedLearn more
                                </p>
                                <div class="getConnectBtn">
                                    <a href="/GettingStarted"><button type="button" class="btnT1">Get Started</button></a>
                                    <button type="button" class="btnT2">Learn More</button>
                                </div>
                            </div>
                            <div class="rightSection">

                            </div>
                        </div>
                    </div>
                </div><!-- ********* Get Connect ********** -->
            </main>    
            
            <footer id="mainFooter" style="background:#111;">
                <div class="fixedWidth">
                    <div class="footsWrap">
                        <div class="footerWrapper clearfix">
                            <div class="leftSection">
                                <ul>
                                    <li style="color:white">All rights reserved.</li>
                                    <li><a href="#" style="color:#aaa">Terms</a></li>
                                    <li><a href="#" style="color:#aaa">About</a></li>
                                </ul>
                            </div>
                            <div class="rightSection">
                                <ul>
                                    <li><a style="color:#444;" href="https://www.facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                    <li><a style="color:#444;" href="https://www.twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                    <li><a style="color:#444;" href="https://www.youtube.com"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                                    <li><a style="color:#444;" href="https://www.instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                    <li><a style="color:#444;" href="https://www.plus.google.com"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            <div class="centerLogo">                                
                                <div class="logoCtn" style="text-align:center; z-index:10">
                                    <a href="/"><h1 style="height:35px; width:100px;margin:0 auto;"><img src="/assets/images/logo.png" style="width:100%;height:35px;"></h1></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer><!-- ********* Footer ********** -->
            
        </div>
    </body>
</html>